<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.0" id="countjqm">
    <name>Counter jQM App</name>
    <author>Meyer Tanuan</author>
    <description>This sample app uses jQuery Mobile</description>
  <icon src="images/icon.png" />

  <content src="index.html" />
	
	<feature id="blackberry.app.orientation">
		<param name="mode" value="portrait" />
	</feature>
	 
    <feature id="blackberry.app" required="true" version="1.0.0.0"/>	
</widget>